#world {
    height: 200px;
    width: 200px;
}

.jumbotron {
    color: blue;
    background-color: peachpuff;
    max-width: 100%;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

.sidenav{
}

#dogs {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#head {
    text-align: center;
}

.panel{
    width: auto;
    justify-content: center;    
}

.body{
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
}

.my-style {
    border: 2px solid red;
    margin: 12px;
    padding: 10px;
    text-align: center;
}

