#world {
    height: 200px;
    width: 200px;
}

.jumbotron {
    color: blue;
    max-width: 100%;
 
}

.sidenav{
 

}

#dogs {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#head {
    text-align: center;
}

.panel{
    width: auto;
    justify-content: center;
    
}

.body{
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
}